{% extends "contactbase.html" %}

{% block content %}
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			  <div class="fh5co-cover text-center" data-stellar-background-ratio="1.0" style="background-color: black;opacity: .5;">
				<div class="desc animate-box">
						<div class="container" style="padding-top: 10px;">
								<div class="row">
									<div class="col-md-4 offset-md-4 col-xs-12">
										
									<p style="color: white;font-size: 30px;text-align: center">success contact the hospital for further procedures</p>
								</div>
							</div>
						</div>
				</div>
			</div>

		</div>
		<!-- fh5co-content-section -->

		
		
	</body>
</html>

{% endblock%}