{% extends "contactbase.html" %}

{% block content %}
	
		
		

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="1.0" style="background-image: url(https://ksr-ugc.imgix.net/assets/012/068/780/13028e104ce217039086ddd9591afe29_original.jpg?w=1536&h=864&fit=fill&bg=000000&v=1463729114&auto=format&q=92&s=612c68379edd612df32e68e755e59532);">
				<div class="desc animate-box">
					<h2><strong>Contact</strong> Us</h2>
					<span>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">Ayush.co</a></span>
					<span><a class="btn btn-primary btn-lg" href="/donate">Donate Now</a></span>
				</div>
			</div>

		</div>
		
		<div id="fh5co-contact" class="animate-box">
			<div class="container">
				<form action="#">
					<div class="row">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>Thalassery, Kerala 670103</li>
								<li><i class="icon-phone2"></i>+91 9847239822</li>
								<li><i class="icon-mail"></i><a href="#">info@aysh.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.ayush.com</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->
		<div id="map" class="fh5co-map"></div>
		<!-- END map -->

		
		

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/sticky.js"></script>

	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="static/js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?callback=init"></script>
	<script src="static/js/google_map.js"></script>
	
	<!-- Main JS -->
	<script src="static/js/main.js"></script>

	</body>
{% endblock%}

