{% extends "base.html" %}
<style type="text/css">
  .desc1{
    height: relative;
    width: relative;
    



  }
  
</style>



{% block content %}
  <body>
    <div class="fh5co-hero">
      <div class="fh5co-overlay"></div>
          <div class="fh5co-cover text-center" data-stellar-background-ratio="1.0" style="background-image: url(static/images/background-images-for-websites-23.jpg);">
          <p style="font-size: 40px;padding-top: 20px;color: white">Register Now</p>
              <div class="desc1 animate-box col-md-4 col-md-offset-4" style="background-color:#000;opacity: .5;">
                    <form  name='form1' onsubmit="required()">
                   
                              <br>

                     
                      <fieldset class="form-group">
                        <input type="text" placeholder="email" name="email" class="form-control" required>
                      </fieldset>
                     
                      
                      <span><button type="submit" class="btn btn-primary">recover</button></span>
                </form>
            </div>      
        </div>

      </div>
    </div>
    
  </body>
  <script type="text/javascript">
function required()
{
    
  
  var email=document.forms["form1"]["email"].value; 

  
  var q=0;

  
    {% for x in var %}
        
        if(email=="{{x['email']}}")
        {
          q=1;  
        }
       
    {% endfor %}


    if(q==1)
    {
       alert("password is sent the email")
      document.form1.action="http://localhost:5000/recover";
      document.form1.method="post";
      
    }
    else
    {
      alert("email is not registered")
      document.form1.action="";
      
    }
   

}

</script>

{% endblock%}