{% extends "base.html" %}

{% block content %}

<body>

			<section class="block-parallax-1">
			    <div class="parallax-bg"></div>
			    <div class="md-box">
			    <div class="container" style="padding-top: 100px;padding-bottom: 200px;padding-left: 300px">
			    <br>
			    <br>
			    <TABLE BORDER="10"    WIDTH="75%"   CELLPADDING="10" CELLSPACING="3">
   <TR>
      
   </TR>
   <TR>
      <TH>Column A</TH>
      <TH>Column B</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD>Data 1</TD>
      <TD>Data 2</TD>
   </TR>

</TABLE>
<br>
<br>
<span><a class="btn btn-primary btn-lg"  href="/noti">Send notification</a></span>


			         
			    </div>
			</section>
			<br>
			<br>
			</div>
</body>


{% endblock%}