{% extends "base.html" %}

{% block content %}
<body>

	<section class="block-parallax-1">
			    <div class="parallax-bg"></div>
			    <div class="md-box">
	
										                        		<table class="table table-inverse">
																		  <thead>
																		    <tr>
																		      <th>#</th>
																		      <th>NAME</th>
																		      <th>request id</th>
																		      																		   
																		    </tr>
																		  </thead>
																		  <tbody>
																		    <tr>
																		      <th scope="row">1</th>
																		      <td>Mark</td>
																		      <td>75937</td>
																		      
																		      <td>
																		      	
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option2" autocomplete="off">remove
																				  </label>
																				 
																				
																		      </td>
																		      <td>
																		      	
																				 
																				 
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option3" autocomplete="off"> Renew
																				  </label>
																				
																		      </td>
																		      
																		    </tr>
																		    <tr>
																		      <th scope="row">2</th>
																		      <td>Mark</td>
																		      <td>64532</td>
																		      
																		      <td>
																		      	
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option2" autocomplete="off">remove
																				  </label>
																				 
																				
																		      </td>
																		      <td>
																		      	
																				 
																				 
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option3" autocomplete="off"> Renew
																				  </label>
																				
																		      </td>
																		      
																		    </tr>
																		    <tr>
																		      <th scope="row">3</th>
																		      <td>Mark</td>
																		      <td>24535</td>
																		      
																		      <td>
																		      	
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option2" autocomplete="off">remove
																				  </label>
																				 
																				
																		      </td>
																		      <td>
																		      	
																				 
																				 
																				  <label class="btn btn-primary">
																				    <input type="radio" name="options" id="option3" autocomplete="off"> Renew
																				  </label>
																				
																		      </td>
																		      
																		    </tr>
																		  </tbody>
																		</table>
																		<div class="col-md-4 col-md-offset-4">
																		<table>
													                       <tr><td colspan="2"><span><a class="btn btn-primary btn-lg col-md-6 col-md-offset-6" href="/">SUBMIT</a></span></td></tr>
										                        		</table>
										                        		<br>
										                        		<br>
										                        		<br>
										                        		<br>
										                        		</div>
										                        		</section>
										                        		

</body>



{% endblock%}