{% extends "base.html" %}
<style type="text/css">
	.desc1{
		height: relative;
		width: relative;
		



	}
	
</style>



{% block content %}
	<body>
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			    <div class="fh5co-cover text-center" data-stellar-background-ratio="1.0" style="background-image: url(static/images/background-images-for-websites-23.jpg);">
			    <p style="font-size: 40px;padding-top: 20px;color: white">Register Now</p>
			    		<div class="desc1 animate-box col-md-4 col-md-offset-4" style="background-color:#000;opacity: .5;">
				    				<form  name='form1' onsubmit="required()">
				    				{% if error %}
					                        <p class=error style="color: white"><strong>Error:</strong> {{ error }}
					                    {% endif %}
					                    <br>

											<fieldset class="form-group">
												<input type="text" placeholder="name" name="name" class="form-control" required>
											</fieldset>
											<fieldset class="form-group">
												<input type="text" placeholder="username" name="username" class="form-control" required >
											</fieldset>
											<fieldset class="form-group">
												<input type="text" placeholder="email" name="email" class="form-control" required>
											</fieldset>
											<fieldset class="form-group">
												<input type="text" pattern="[789][0-9]{9}" required title="enter a valid phone no"  placeholder="phone number" name="phno" class="form-control" required>
											</fieldset>
											<fieldset class="form-group">
												<input type="password" pattern=".{5,10}" required title="5 to 10 characters" placeholder="password" name="password1" class="form-control" required>
											</fieldset>
											<fieldset class="form-group">
												<input type="password" placeholder="re-enter password" name="password2" class="form-control" required>
											</fieldset>
											
											<span><button type="submit" class="btn btn-primary">Submit</button></span>
								</form>
						</div>			
				</div>

			</div>
		</div>
		
	</body>
	<script type="text/javascript">
function required()
{
		
	var username=document.forms["form1"]["username"].value;
	var password1=document.forms["form1"]["password1"].value;
	var password2=document.forms["form1"]["password2"].value;
	var email=document.forms["form1"]["email"].value;	
	var phone=document.forms["form1"]["phno"].value;
	var y=0;
	var q=0;
	var s=0;
	if(password1!=password2)
	{
		alert("passwords do not match");
		document.form1.action="";
	}
	else
	{
		{% for x in var %}
				if(username=="{{x['username']}}")
				{
					y=1;	
				}
				if(email=="{{x['email']}}")
				{
					q=1;	
				}
				if(phone=="{{x['phno']}}")
				{
					s=1;	
				}
		{% endfor %}


		if(y==1)
		{
			alert("username already exists")
			document.form1.action="";
			
		}
		else if(q==1)
		{
			alert("email is already registered")
			document.form1.action="";
			
		}
		else if(s==1)
		{
			alert("phoneno is already registered")
			document.form1.action="";
			
		}	
		else
		{
			document.form1.action="https://alanpaul.herokuapp.com/newuser";
			document.form1.method="post";
			
		}
	}

}

</script>

{% endblock%}